#globallink {
	margin: 0px;
	padding: 0px;
	font-family: 方正小标宋简体;
	font-size: 14px;
	/*height:43px;*/
}

#globallink ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	height: 36px;
}

#globallink ul:hover {
	height: 43px;
}

#globallink li {
	float: left;
	text-align: center;
	width: 113.5px;
}

#globallink a {
	display: block;
	padding: 9px 6px 11px 6px;
	/*background:url(button1.jpg) no-repeat;*/
	margin: 0px;
	text-decoration: none;
}

#globallink a:link,
#globallink a:visited {
	color: #004a87;
	/*text-decoration:underline;*/
}

#globallink a:hover {
	color: #000000;
	/*text-decoration:underline;
	background:#004a87;//url(button1_bg.jpg) no-repeat;*/
	opacity: 0.5;
	border-radius: 12px;
	border: 2px solid #004a87;
	font-size: 16px;
}


/*
 *武汉加油
 */
.loading {
	display: flex;
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	margin-top: -30px;
	margin-left: 1019px;
	font-family: 方正小标宋简体;
}

.loading span {
	padding: 0 8px;
	line-height: 30px;
	background: #34495e;
	/*//91a8fd;//004a87;*/
	animation: bulge 2s infinite;
	border-radius: 9px;
}

@keyframes bulge {
	50% {
		box-shadow: 0px 20px 0px #d8e3f6;
		/*//eee;*/
		transform: translateY(-35px);
	}
}

a {
	text-decoration: none;
}